<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/oauth2.js"></script>
</head>

<body>
<!-- для хранения состояния значений от сервера, чтобы сравнивать их потом.-->
<!-- В реальных приложениях м-но хварить их в глобальных переменных.-->
<input type="hidden" readonly id="originalState">
<input type="hidden" readonly id="codeVerifier">

<script>
    initValues();
</script>

</body>
</html>