<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Javascript app with PKCE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/oauth2.js"></script>
</head>

<body>

<script>
    var urlParams = new URLSearchParams(window.location.search);
    var authCode = urlParams.get('code'),
        state = urlParams.get('state'),
        error = urlParams.get('error'),
        errorDescription = urlParams.get('error_description');

    if (error) {
        window.alert("error: " + error + ", description: " + errorDescription);
    } else {
        console.log("auth code = " + authCode);
    }


    //window.close();
</script>

</body>
</html>